/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PROP */
html{
    overflow: hidden;
}
div, #cvs{
	width: 100%;
	position: absolute;
}
#j1,#j2{
	height: 20%;
}
#j1{
    top:0;
    background:  red;
    background: linear-gradient(to bottom, brown 0%,red 100%);
    transform: rotate(180deg);
}
#j2{
	bottom: 0;
    background-color: blue;
    background: linear-gradient(to bottom, CornflowerBlue  0%,blue 100%);
}
#cvs{
	top:20%;
	height: 60%;
}

div canvas {
	width: 100%;
	height: 100%;
}


/** ================= DRAG AND DROP =================**/

.launch{
    display: block;
    width: 12%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%); /* décalage de 50% de sa propre taille en hauteur */
}

#menuButton{
    display: block;
    width: 12%;
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(0,-50%); /* décalage de 50% de sa propre taille en hauteur */
}

.dragable {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
}

.case {
    position: relative;
    width: 7.5%;
    height: 70%;
    border: 1px solid #000000;
    border-radius: 25%;
    box-sizing: content-box;
    margin-left: 1.5%;
    margin-top: 1.5%;
    float: left;
}

#j1 .outils .dragable {
    transform: rotate(180deg);
}

.outils{
    position: relative;
    width: 26%;
    height: 24%;
    margin-top: 7.5%;
    margin-right: 0%;
    margin-left: 17%;
    box-sizing: content-box;
    float: left;
}


#forward2 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/forward_blue.png");
    background-size: 100%, 100%;
}

#rotL2 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/rotate_left_blue.png");
    background-size: 100%, 100%;
}

#rotR2 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/rotate_right_blue.png");
    background-size: 100%, 100%;
}

#rest2 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/rest_blue.png");
    background-size: 100%, 100%;
}

#forward1 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/forward_red_reverse.png");
    background-size: 100%, 100%;
    transform: rotate(180deg);
}

#rotL1 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/rotate_left_red_reverse.png");
    background-size: 100%, 100%;
    transform: rotate(180deg);
}

#rotR1 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/rotate_right_red_reverse.png");
    background-size: 100%, 100%;
    transform: rotate(180deg);
}

#rest1 {
    background-repeat: no-repeat;
    background-image: url("../assets/icons/rest_red_reverse.png");
    background-size: 100%, 100%;
    transform: rotate(180deg);
}

#p12{
    background-repeat: no-repeat;
    background-image: url("../assets/icons/p1_red.png");
    background-size: 100%, 100%;
}

#p22{
    background-repeat: no-repeat;
    background-image: url("../assets/icons/p2_red.png");
    background-size: 100%, 100%;
}

#p11{
    background-repeat: no-repeat;
    background-image: url("../assets/icons/p1_red_reverse.png");
    background-size: 100%, 100%;
    transform: rotate(180deg);
}

#p21{
    background-repeat: no-repeat;
    background-image: url("../assets/icons/p2_red_reverse.png");
    background-size: 100%, 100%;
    transform: rotate(180deg);
}

#progJ2 {
    width: 75%;
    height: 100%;
    top: 0;
    position: absolute;
}

#mainJ2{
    top: 0;
    width: 100%;
    height: calc(100% / 3);
    position: relative;
}

#procJ2{
    width: 100%;
    height: calc(100% / 3);
    position: relative;
}

#proc2J2{
    bottom: 0;
    width: 100%;
    height: calc(100% / 3);
    position: relative;
}


#ctrlJ2 {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0;
}

#progJ1 {
    width: 75%;
    height: 100%;
    top: 0;
    position: absolute;
}

#mainJ1{
    top: 0;
    width: 100%;
    height: calc(100% / 3);
    position: relative;
}

#procJ1{
    width: 100%;
    height: calc(100% / 3);
    position: relative;
}

#proc2J1{
    bottom: 0;
    width: 100%;
    height: calc(100% / 3);
    position: relative;
}


#ctrlJ1 {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0;
}

.numberRep{
    color: white;
    text-align: center;
    font-size: 3.3vw;
    font-weight: bold;
    border-radius: 50%;
    background: black;
    width: 45%;
    height: 45%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    transform: translateX(50%) translateY(50%);
}

.caseMainJ1{
    transform: rotate(180deg);
}

.caseMainJ1 .copy{
    transform: rotate(180deg);
}

.caseMainJ1 .numberRep{
    top: 0;
    left: 0;
    transform: rotate(180deg) translateX(50%) translateY(50%);
}


#currentInstrJ2{
    display: block;
    width: 10%;
    position: absolute;
    top: 80%;
    right: 0;
    transform: translate(0,-100%); /* décalage de 100% de sa propre taille en hauteur */

}

#currentInstrJ1{
    display: block;
    width: 10%;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translate(0,-50%); /* décalage de 50% de sa propre taille en hauteur */
    transform: rotate(180deg);
}

/* ================= MENU ================= */

#menu{
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100000;
}

#titre{
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 25%;
}
#titreP{
    width: 100%;
    position: relative;
}

#playButton{
    width: 30%;
    height: 10%;
	position: absolute;
	border-radius: 25px;
    background: white;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/*#suivant{
    width: 30%;
    height: 10%;
	position: absolute;
	border-radius: 25px;
    background: white;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
}*/

#chLevels{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: black;
    color: white;
    z-index: 10000;
}

#chLevels #choix {
    display: block;
    height: auto;
    width: 80%;
    float: left;
    margin: 5% auto auto 5%;
}

#retour {
    position: absolute; 
    box-sizing: border-box;
    top: 20px;
    right: 20px;
    font-size: 18px;
    padding: 10px;
    color: transparent;
    width: 40px;
    height: 40px;
    background-image: url("../assets/img/rouge2.png");
    background-size: 40px 40px;
}

#chLevels .fleche {
    position: absolute;
    width: 10%;
    top: 50%;
}
#chLevels #flecheSuivant {
    right: 5%;
}

#chLevels #flechePrecedent {
    left: 5%;
}

#chLevels #levelContent {
    width: 80%;
    position: absolute;
    left: 10%;
    top: calc(40% - 5% - 50px);
    margin: 2% auto 0 auto;
    text-align: center;
}

#chLevels .iconeNiveau {
    position: relative;
    display: inline-block;
    width: 15%;
    text-align: center;
    margin: 2% 5%;
}

#bcMessage{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 900;
    background-color: transparent;
}

#message {
    position: absolute;
    box-sizing: border-box;
    bottom: 75%;
    left: 25%;
    right: 25%;
    width: auto;
    height: auto;
    /*width:75%;
    height: 30%;*/
    font-size: 300%;
   /* transform: translate(-50%,+50%);
    -webkit-transform: translate(-50%,+50%);*/
    padding: 30px 35px 30px 35px;
    background-color: #DBB569;
    color: white;
    border: solid 5px red;
    border-radius: 20px;
    text-align: center;
    transform: rotate(180deg);
}

#message2 {
    position: absolute;
    box-sizing: border-box;
    top: 75%;
    left: 25%;
    right: 25%;
    width: auto;
    height: auto;
    /*width:75%;
    height: 30%;*/
    font-size: 300%;
    /*transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);*/
    padding: 30px 35px 30px 35px;
    background-color: #DBB569;
    color: white;
    border: solid 5px red;
    border-radius: 20px;
    text-align: center;
}
.icone {
    width: 20%;
    height: auto;
    vertical-align: middle;
}

.grise {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.etoile {
    width: 30%;
    height: auto;
}

.numero {
    width: 80%;
    height: auto;
}

